# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment inside frontend/dashboard
battery_rest_model/venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Environment variables
.env

backend/battery-dashboard/src/main/resources/application.properties